.container{
    display: flex;
}

.para-guide{
    height: 300px;
    width: 33.3%;
    border-radius: 10px;
    border: 1px solid red;
    padding: 20px 15px;
}

.lava img{
    position: relative;
    width: 100%;
    bottom: 20px;
}